@font-face {
  font-family: "Junicode";
  src: url("JunicodeVF-Roman.woff2");
  font-weight: 400 700;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("JunicodeVF-Italic.woff2");
  font-weight: 400 700;
  font-stretch: 75% 125%;
  font-style: italic;
}
